@import "../styles/variables";

#articles-list {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 80px;
  padding: 10px;

  .comments {
    &.hidden {
      display: none;
    }

    .comment {
      display: grid;
      grid-template-columns: 50px auto;
      grid-gap: 10px;
      position: relative;
      padding: 10px;
      margin-bottom: 10px;
      &:not(:last-of-type) {
        border-bottom: 1px solid $gray;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0px;
        margin-right: 10px;
        font-family: Roboto, sans-serif;
        font-weight: 700;
        background-color: $dark-gray;
        color: $white;
        border-radius: 50%;
        font-size: 20px;
        text-transform: uppercase;
        &:hover {
          color: $orange;
        }
      }

      .comment-data {
        display: flex;
        flex-direction: column;

        .comment-content {
          margin-top: 10px;
          font-size: 15px;
          font-weight: 400;
          color: $dark-gray;
        }
        .posted-by {
          font-size: 15px;
          font-weight: 700;
          color: $dark-gray;
        }
      }
    }
  }

  .article {
    display: grid;
    grid-template-columns: 50px auto 100px;
    position: relative;
    padding: 10px;
    min-height: 100px;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $gray;
    margin-bottom: 10px;

    .article-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
      color: $dark-gray;
      cursor: pointer;
    }

    .article-content {
      font-size: 15px;
      font-weight: 400;
      color: $dark-gray;
      cursor: pointer;
    }

    .comments-counter {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 14px;
      color: $gray;
    }

    .posted-by {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 10px;
      color: $gray;
    }

    .votes-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .votes {
        font-weight: 700;
        color: $orange;
        margin: 10px 0px;
      }

      .vote-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $gray;
        &:hover {
          border-bottom: 15px solid $orange;
        }
      }

      .vote-down {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $gray;
        &:hover {
          border-top: 15px solid $orange;
        }
      }
    }
  }
}
